<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.PartnerAccountLogMapper">

    <select id="sumAmount" resultType="java.math.BigDecimal">
        select
        sum(amount)
        from dc_partner_account_log
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="type != null and type != ''">
                and type = #{type,jdbcType=TINYINT}
            </if>
            <if test="payStatus != null and payStatus != ''">
                and pay_status = #{payStatus,jdbcType=TINYINT}
            </if>
            and status = 1
        </trim>
    </select>
</mapper>