<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.AdvertisMapper">

    <select id="searchadvertisList" resultMap="BaseResultMapEx">
        select
        a.id, product_id, advertis_type, a.status, a.is_del, link, img_url, a.create_time, a.update_time,name
        from dc_operation_advertis a,dc_product b
        where product_id = b.id and a.is_del = 1
        <if test="sqlWhere.timeBegin != null and sqlWhere.timeBegin != ''">
            and date(a.create_time) &gt;= str_to_date(#{sqlWhere.timeBegin},'%Y-%m-%d')
        </if>
        <if test="sqlWhere.timeEnd != null and sqlWhere.timeEnd != '' ">
            and date(a.create_time) &lt;= str_to_date(#{sqlWhere.timeEnd},'%Y-%m-%d')
        </if>
        <if test="sqlWhere.status != 0">
            and a.status = #{sqlWhere.status}
        </if>
        <if test="sqlWhere.type != 0">
            and a.advertis_type = #{sqlWhere.type}
        </if>
        order by a.id
        limit ${page.startRowNum}, ${page.size}
    </select>

    <select id="searchadvertisListCount" resultType="java.lang.Long">
        select
        count(1)
        from dc_operation_advertis a,dc_product b
        where product_id = b.id and a.is_del = 1
        <if test="sqlWhere.timeBegin != null and sqlWhere.timeBegin != ''">
            and date(a.create_time) &gt;= str_to_date(#{sqlWhere.timeBegin},'%Y-%m-%d')
        </if>
        <if test="sqlWhere.timeEnd != null and sqlWhere.timeEnd != '' ">
            and date(a.create_time) &lt;= str_to_date(#{sqlWhere.timeEnd},'%Y-%m-%d')
        </if>
        <if test="sqlWhere.status != 0">
            and a.status = #{sqlWhere.status}
        </if>
        <if test="sqlWhere.type != 0">
            and a.advertis_type = #{sqlWhere.type}
        </if>
    </select>

    <select id="selectOnLineCount" resultType="java.lang.Integer">
    select 
	count(1)
    from dc_operation_advertis
    where status = 2 and is_del = 1 and advertis_type = #{advertisType,jdbcType=INTEGER}
  </select>

    <select id="selectByProductId" resultType="com.gndc.core.model.Advertis">
        select
        <include refid="Base_Column_List"/>
        from dc_operation_advertis
        where product_id = #{productId,jdbcType=INTEGER} and is_del = 1
    </select>

    <select id="selectAdvertisByType" resultMap="BaseResultMapEx">
    select 
        a.id, product_id, advertis_type, a.status, a.is_del, link, img_url, a.create_time, a.update_time,name
    from dc_operation_advertis a,dc_product b
    where product_id = b.id and a.is_del = 1
	and a.status = 2
	and a.advertis_type = #{advertisType,jdbcType=INTEGER}
	order by a.id desc
  </select>
</mapper>