<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.EventFeeMapper">

    <select id="selectCountByDate" resultType="long">
        select count(*) from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="feeType != null">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="partnerId != null">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="feeStatus != null">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="year != null">
                and year(create_time) = #{year,jdbcType=INTEGER}
            </if>
            <if test="month != null">
                and month(create_time) = #{month,jdbcType=INTEGER}
            </if>
            and status = 1
        </trim>
    </select>

    <select id="selectSum" resultType="java.math.BigDecimal">
        select count(*) from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="feeType != null">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="partnerId != null">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="feeStatus != null">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="year != null">
                and year(create_time) = #{year,jdbcType=INTEGER}
            </if>
            <if test="month != null">
                and month(create_time) = #{month,jdbcType=INTEGER}
            </if>
            and status = 1
        </trim>
    </select>

    <select id="countByPeriod" resultType="long">
        select count(*) from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="productId != null and productId != ''">
                and product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="feeType != null and feeType != ''">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="coopeMode != null and coopeMode != ''">
                and coope_mode = #{coopeMode,jdbcType=TINYINT}
            </if>
            and event_type in (1,2,8)
            <if test="feeStatus != null and feeStatus != ''">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="startDate != null">
                and create_time &gt;= #{startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                and create_time &lt;= #{endDate, jdbcType=TIMESTAMP}
            </if>
            and status = 1
        </trim>
    </select>

    <select id="selectProductIds" resultType="integer">
        select distinct(product_id) from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="feeType != null and feeType != ''">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="coopeMode != null and coopeMode != ''">
                and coope_mode = #{coopeMode,jdbcType=TINYINT}
            </if>
            <if test="eventType != null and eventType != ''">
                and event_type = #{eventType,jdbcType=TINYINT}
            </if>
            <if test="feeStatus != null and feeStatus != ''">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            and status = 1
        </trim>
    </select>

    <select id="apDataAnalysis" resultType="com.gndc.core.api.partner.data.APDataAnalysisListResponse">
        select date(create_time) date, count(*) count
        from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="feeType != null and feeType != ''">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="coopeMode != null and coopeMode != ''">
                and coope_mode = #{coopeMode,jdbcType=TINYINT}
            </if>
            <if test="eventType != null and eventType != ''">
                and event_type in (1, 2, 8)
            </if>
            <if test="feeStatus != null and feeStatus != ''">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="startDate != null and startDate != ''">
                and date(create_time) &gt;= str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDate != null and endDate != ''">
                and date(create_time) &lt;= str_to_date(#{endDate},'%Y-%m-%d %H:%i:%s')
            </if>
            and status = 1
        </trim>
        group by year(create_time), month(create_time), day(create_time)
        order by create_time desc
    </select>

    <select id="apDataAnalysisCount" resultType="long">
        select
        count(*)
        from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="feeType != null and feeType != ''">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="coopeMode != null and coopeMode != ''">
                and coope_mode = #{coopeMode,jdbcType=TINYINT}
            </if>
            <if test="eventType != null and eventType != ''">
                and event_type in (1, 2, 8)
            </if>
            <if test="feeStatus != null and feeStatus != ''">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="startDate != null and startDate != ''">
                and date(create_time) &gt;= str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDate != null and endDate != ''">
                and date(create_time) &lt;= str_to_date(#{endDate},'%Y-%m-%d %H:%i:%s')
            </if>
            and status = 1
        </trim>
    </select>

    <select id="selectEventFeeListCount" resultType="java.lang.Long">
        select
        count(*)
        from dc_event_fee
        where
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="feeType != null and feeType != ''">
                and fee_type = #{feeType,jdbcType=TINYINT}
            </if>
            <if test="coopeMode != null and coopeMode != ''">
                and coope_mode = #{coopeMode,jdbcType=TINYINT}
            </if>
            <if test="eventType != null and eventType != ''">
                and event_type = #{eventType,jdbcType=TINYINT}
            </if>
            <if test="feeStatus != null and feeStatus != ''">
                and fee_status = #{feeStatus,jdbcType=TINYINT}
            </if>
            <if test="startDate != null and startDate != ''">
                and date(create_time) &gt;= str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDate != null and endDate != ''">
                and date(create_time) &lt;= str_to_date(#{endDate},'%Y-%m-%d %H:%i:%s')
            </if>
            and status = 1
        </trim>
    </select>

    <resultMap id="selectPartnerCostResultMap" type="com.gndc.core.api.statistics.AOPartnerCostStatisticResponse">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="count" jdbcType="INTEGER" property="count" />
        <result column="cost" jdbcType="DECIMAL" property="cost" />
    </resultMap>

    <select id="selectPartnerCost" resultMap="selectPartnerCostResultMap">
        select
        par.name,
        count(pro.partner_id) count,
        sum(ef.fee) cost
        from
        dc_partner par
        left join dc_product pro on par.id = pro.partner_id
        left join dc_event_fee ef on ef.product_id = pro.id
        WHERE
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            and ef.fee_status = 1
        </trim>
        LIMIT
        #{page.startRowNum, jdbcType=INTEGER}, #{page.size, jdbcType=INTEGER}
    </select>

    <select id="selectPartnerCostCount" resultType="java.lang.Long">
        select
        count(*)
        from
        dc_partner par
        left join dc_product pro on par.id = pro.partner_id
        left join dc_event_fee ef on ef.product_id = pro.id
        WHERE
        <trim prefix="(" prefixOverrides="and" suffix=")">
            <if test="partnerId != null and partnerId != ''">
                and partner_id = #{partnerId,jdbcType=INTEGER}
            </if>
            and ef.fee_status = 1
        </trim>
    </select>

    <select id="settlementList4H5" resultType="com.gndc.core.api.partner.finance.settlement.APFinanceSettlement4H5Response">
        select
        f.id,u.phone,f.fee,f.fee_status as feeStatus,f.create_time as createTime
        from dc_event_fee f
        left join dc_user_events e on f.event_id = e.id
        left join dc_user u on e.user_id = u.id
        where f.status = 1
        <if test="option != null">
            <if test="option.id != null and option.id != 0">
                and f.id = #{option.id,jdbcType=INTEGER}
            </if>
            <if test="option.productId != null and option.id != 0">
                and e.product_id = #{option.productId,jdbcType=INTEGER}
            </if>
            <if test="option.startDate != null and option.startDate != ''">
                and f.create_time <![CDATA[>=]]> #{option.startDate,jdbcType=VARCHAR}
            </if>
            <if test="option.endDate != null and option.endDate != ''">
                and f.create_time <![CDATA[<=]]> #{option.endDate,jdbcType=INTEGER}
            </if>
        </if>
        order by f.create_time desc
    </select>
</mapper>