<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.ProductHotMapper">

    <!-- 列表查询 -->

    <sql id="page_list_where">
        <where>
            <trim>
                <if test="record.productName != null and record.productName != ''">
                    and product_name = #{record.productName, jdbcType=VARCHAR}
                </if>
                <if test="record.status != null and record.status != ''">
                    and status = #{record.status, jdbcType=TINYINT}
                </if>
            </trim>
        </where>
    </sql>

    <select id="selectProductHotPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_product_hot
        <include refid="page_list_where"/>
        ORDER by position
        LIMIT
        #{page.startRowNum, jdbcType=INTEGER}, #{page.size, jdbcType=INTEGER}
    </select>

    <select id="selectProductHotCount" resultType="java.lang.Long">
        select
        count(*)
        from dc_product_hot
        <include refid="page_list_where"/>
    </select>

    <delete id="deleteByProductId" parameterType="java.lang.Integer">
    delete from dc_product_hot
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <update id="updateByProductId" parameterType="com.gndc.core.model.ProductHot">
        update dc_product_hot
        <set>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="onlineTime != null">
                online_time = #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="offlineTime != null">
                offline_time = #{offlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateUpPosition" parameterType="java.lang.Integer">
    update dc_product_hot
    set position=position-1
    where position &gt; #{position,jdbcType=INTEGER}
  </update>

    <update id="updateDownPosition" parameterType="java.lang.Integer">
    update dc_product_hot
    set position=position+1
    where position &gt;= #{position,jdbcType=INTEGER}
  </update>

    <select id="selectByPosition" parameterType="java.lang.Integer" resultType="com.gndc.core.model.ProductHot">
        select
        <include refid="Base_Column_List"/>
        from dc_product_hot
        where position = #{position,jdbcType=INTEGER}
    </select>

    <select id="selectProductByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_product_hot
        where product_name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>