<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.ProductMapper">

    <resultMap id="aoProductListResultMap" type="com.gndc.core.api.product.AOProductListResponse">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
        <result column="coope_mode" jdbcType="TINYINT" property="coopeMode" />
        <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="borrow_time_description" jdbcType="VARCHAR" property="borrowTimeDescription" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="hot_status" jdbcType="TINYINT" property="hotStatus" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
        <result column="offline_time" jdbcType="TIMESTAMP" property="offlineTime" />
        <result column="coope_price" jdbcType="DECIMAL" property="coopePrice" />
        <result column="borrow_amount_range" jdbcType="VARCHAR" property="borrowAmountRange" />
        <result column="borrow_time_range" jdbcType="VARCHAR" property="borrowTimeRange" />
    </resultMap>

    <select id="aoProductListCount" resultType="long">
        select
        count(*)
        from dc_product a
        left join dc_product_data b on a.id=b.product_id
        left join dc_product_hot c on c.product_id = a.id
        left join dc_partner d on a.partner_id = d.id
        where 1 = 1 and
        <if test="sqlWhere != null">
            <trim prefix="(" prefixOverrides="and" suffix=")">
                <if test="sqlWhere.coopeMode != null and sqlWhere.coopeMode != 0">
                    and a.coope_mode=#{sqlWhere.coopeMode}
                </if>
                <if test="sqlWhere.status != null and sqlWhere.status != 0">
                    and a.status=#{sqlWhere.status}
                </if>
                <if test="sqlWhere.partnerId != null and sqlWhere.partnerId != 0">
                    and a.partner_id=#{sqlWhere.partnerId}
                </if>
                <if test="sqlWhere.startDate != null and sqlWhere.startDate != ''">
                    and date(a.create_time) &gt;= str_to_date(#{sqlWhere.startDate}, '%Y-%m-%d %H:%i:%s')
                </if>
                <if test="sqlWhere.endDate != null and sqlWhere.endDate != ''">
                    and date(a.create_time) &lt;= str_to_date(#{sqlWhere.endDate},'%Y-%m-%d %H:%i:%s')
                </if>
                <if test="'1 = 1'">
                    and b.data_type = 1 and a.is_del = 1
                </if>
            </trim>
        </if>
    </select>

    <select id="aoProductList" resultMap="aoProductListResultMap">
        select
        a.id,
        a.name,
        a.coope_mode,
        a.logo_url,
        a.description,
        a.status,
        a.online_time,
        a.offline_time,
        a.create_time,
        a.coope_price,
        concat(floor(a.borrow_amount_begin),'~',floor(a.borrow_amount_end)) as borrow_amount_range,
        concat(b.borrow_period_start,'~', b.borrow_period_end) as borrow_time_range,
        b.borrow_time_description,
        c.status hot_status,
        a.day_rate,
        d.name partner_name
        from dc_product a
        left join dc_product_data b on a.id=b.product_id
        left join dc_product_hot c on c.product_id = a.id
        left join dc_partner d on a.partner_id = d.id
        where
        <if test="sqlWhere != null">
            <trim prefix="(" prefixOverrides="and" suffix=")">
                <if test="sqlWhere.coopeMode != null and sqlWhere.coopeMode != 0">
                    and a.coope_mode=#{sqlWhere.coopeMode}
                </if>
                <if test="sqlWhere.status != null and sqlWhere.status != 0">
                    and a.status=#{sqlWhere.status}
                </if>
                <if test="sqlWhere.name != null and sqlWhere.name != ''">
                    and a.name like concat('%', #{sqlWhere.name}, '%')
                </if>
                <if test="sqlWhere.partnerId != null and sqlWhere.partnerId != 0">
                    and a.partner_id=#{sqlWhere.partnerId}
                </if>
                <if test="sqlWhere.startDate != null and sqlWhere.startDate != ''">
                    and date(a.create_time) &gt;= str_to_date(#{sqlWhere.startDate}, '%Y-%m-%d %H:%i:%s')
                </if>
                <if test="sqlWhere.endDate != null and sqlWhere.endDate != ''">
                    and date(a.create_time) &lt;= str_to_date(#{sqlWhere.endDate},'%Y-%m-%d %H:%i:%s')
                </if>
                <if test="'1 = 1'">
                    and b.data_type = 1 and a.is_del = 1
                </if>
            </trim>
            LIMIT
            #{page.startRowNum, jdbcType=INTEGER}, #{page.size, jdbcType=INTEGER}
        </if>
    </select>

    <select id="aoProductHotListCount" resultType="long">
      select
      count(*)
      from dc_product_hot c
      left join dc_product a on c.product_id = a.id
      left join dc_partner d on a.partner_id = d.id
      where c.status = 2
      <if test="sqlWhere != null">
        <if test="sqlWhere.name != null and sqlWhere.name != ''">
          and a.name like concat('%', #{sqlWhere.name}, '%')
        </if>
        <if test="sqlWhere.partnerId != null and sqlWhere.partnerId != 0">
          and a.partner_id=#{sqlWhere.partnerId}
        </if>
      </if>
    </select>

    <resultMap id="aoProductHotListResultMap" type="com.gndc.core.api.product.AOProductHotListResponse">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
      <result column="coope_mode" jdbcType="TINYINT" property="coopeMode" />
      <result column="hot_status" jdbcType="TINYINT" property="hotStatus" />
      <result column="position" jdbcType="TINYINT" property="position" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
      <result column="coope_price" jdbcType="DECIMAL" property="coopePrice" />
    </resultMap>

    <select id="aoProductHotList" resultMap="aoProductHotListResultMap">
      select
      a.id,
      a.name,
      a.coope_mode,
      a.status,
      a.coope_price,
      c.status hot_status,
      c.position position,
      c.create_time,
      c.online_time,
      d.name partner_name
      from dc_product_hot c
      left join dc_product a on c.product_id = a.id
      left join dc_partner d on a.partner_id = d.id
      where c.status = 2
      <if test="sqlWhere != null">
          <if test="sqlWhere.name != null and sqlWhere.name != ''">
            and a.name like concat('%', #{sqlWhere.name}, '%')
          </if>
          <if test="sqlWhere.partnerId != null and sqlWhere.partnerId != 0">
            and a.partner_id=#{sqlWhere.partnerId}
          </if>
      </if>
      order by position
      limit ${page.startRowNum}, ${page.size}
    </select>
</mapper>