<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.ProductStatisticMapper">

    <!--
        自定义
     -->

    <!--    <resultMap id="productStatisticItemResultMap"  type="com.gndc.core.etc.product.ProductStatisticItem" extends="BaseResultMap" >
          <result column="repay_amount" jdbcType="VARCHAR" property="repayAmount" />
         <result column="interest" jdbcType="VARCHAR" property="interest" />
      </resultMap> -->

    <insert id="batchSave" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into dc_product_statistic (prod_id, product_name, hot_clicks,
        list_clicks, click_downloads, actual_downloads,
        actual_installs, create_time, update_time,statistic_date) values
        <foreach collection="list" item="it" separator=",">
            (#{it.prodId},#{it.productName},#{it.hotClicks},#{it.listClicks},
            #{it.clickDownloads},#{it.actualDownloads},#{it.actualInstalls},#{it.createTime},#{it.updateTime},#{it.statisticDate})
        </foreach>
    </insert>

    <select id="getSum" parameterType="com.gndc.core.model.ProductStatisticCriteria" resultMap="BaseResultMap">
        select

        <include refid="Base_Column_List"/>
        from dc_product_statistic
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectProductStatisticByDayWithRowbounds"
            resultType="com.gndc.core.etc.product.ProductStatisticItem">
        select
        product_name as productName,
        hot_clicks as hotClicks,
        list_clicks as listClicks,
        click_downloads as clickDownloads,
        actual_downloads as actualDownloads,
        actual_installs as actualInstalls,
        DATE_FORMAT(statistic_date,'%Y-%m-%d') as statisticDateStr
        from dc_product_statistic
        <include refid="Criteria_Where_Clause"/>
        order by statistic_date desc
    </select>

    <select id="selectProductStatisticByWeekWithRowbounds"
            resultType="com.gndc.core.etc.product.ProductStatisticItem">
        select
        a.product_name as productName,
        sum(a.hot_clicks) as hotClicks,
        sum(a.list_clicks) as listClicks,
        sum(a.click_downloads) as clickDownloads,
        sum(a.actual_downloads) as actualDownloads,
        sum(a.actual_installs) as actualInstalls,
        a.statistic_date as statisticDateStr

        from (
        select
        product_name,
        prod_id,
        hot_clicks,
        list_clicks,
        click_downloads,
        actual_downloads,
        actual_installs,
        date_format(statistic_date,'%Y-%u') as statistic_date
        from dc_product_statistic
        ) a
        where 1=1
        <if test="dateStr != null and dateStr != ''">
            and a.statistic_date = #{dateStr}
        </if>
        <if test="productId != null and productId != ''">
            and a.prod_id = #{productId}
        </if>
        group by DATE_FORMAT(statistic_date,'%Y-%u'), a.prod_id
        order by a.statistic_date desc
    </select>

    <select id="selectProductStatisticByMonthWithRowbounds"
            resultType="com.gndc.core.etc.product.ProductStatisticItem">
        select
        a.product_name as productName,
        sum(a.hot_clicks) as hotClicks,
        sum(a.list_clicks) as listClicks,
        sum(a.click_downloads) as clickDownloads,
        sum(a.actual_downloads) as actualDownloads,
        sum(a.actual_installs) as actualInstalls,
        a.statistic_date as statisticDateStr

        from (
        select
        prod_id,
        product_name,
        hot_clicks,
        list_clicks,
        click_downloads,
        actual_downloads,
        actual_installs,
        date_format(statistic_date,'%Y-%m') as statistic_date
        from dc_product_statistic
        ) a
        where 1=1
        <if test="dateStr != null and dateStr != ''">
            and a.statistic_date = #{dateStr}
        </if>
        <if test="productId != null and productId != ''">
            and a.prod_id = #{productId}
        </if>
        group by DATE_FORMAT(statistic_date,'%Y-%m'), a.prod_id
        order by a.statistic_date desc
    </select>


</mapper>