<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.UserCallRecordMapper">
    <sql id="list_where">
        <trim>
            <if test="userCall.userPhone != null and userCall.userPhone != '' ">
                and a.user_phone = #{userCall.userPhone}
            </if>
            <if test="userCall.userIsRegist == 1">
                and a.user_id != 0
            </if>
            <if test="userCall.userIsRegist == -1">
                and a.user_id = 0
            </if>
            <if test="userCall.isSolve != 0 and userCall.isSolve != '' and userCall.isSolve !=null">
                and a.is_solve = #{userCall.isSolve}
            </if>
            <if test="userCall.updateStartTime != null and userCall.updateStartTime != '' ">
                and date(a.create_time) &gt;= str_to_date(#{userCall.updateStartTime},'%Y-%m-%d')
            </if>
            <if test="userCall.updateEndTime != null and userCall.updateEndTime != '' ">
                and date(a.create_time) &lt;= str_to_date(#{userCall.updateEndTime},'%Y-%m-%d')
            </if>
        </trim>
    </sql>


    <resultMap id="UserCallExtBaseResultMap" type="com.gndc.core.model.UserCallRecordExt" extends="BaseResultMap">
    </resultMap>

    <!-- 获得客服客户电话来访 -->
    <select id="selectUserCallList" resultMap="UserCallExtBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_user_call_record a
        where 1=1
        <include refid="list_where"/>
        ORDER BY a.is_solve,a.id DESC
        LIMIT
        #{page.startRowNum, jdbcType=INTEGER}, #{page.size, jdbcType=INTEGER}
    </select>

    <select id="selectUserCallListCount" resultType="java.lang.Long">
        select
        COUNT(1)
        from dc_user_call_record a
        where 1=1
        <include refid="list_where"/>
    </select>
</mapper>