<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.core.mapper.simple.UserFeedbackMapper">

    <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_user_feedback
        where id in
        <foreach close=")" collection="list" index="index" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach close="" collection="list" index="index" item="feedback" open="" separator=";">
            update dc_user_feedback set
            status = #{feedback.status},
            reply_time= #{feedback.replyTime},
            reply_content=#{feedback.replyContent},
            admin_id=#{feedback.adminId}
            where id = #{feedback.id}
        </foreach>
    </update>


    <select id="searchFeedbackInfoList" resultMap="BaseResultMapEx">
        select
        a.id,
        a.user_phone,
        a.user_id,
        a.create_time,
        a.content,
        a.admin_id,
        a.reply_time,
        a.reply_content,
        a.status,
        c.name admin_name,
        a.picture_url
        from
        dc_user_feedback a
        left join dc_admin c on a.admin_id = c.id
        where 1 = 1
        <if test="feedWhere.phone != null and feedWhere.phone != '' ">
            and a.user_phone = #{feedWhere.phone}
        </if>
        <if test="feedWhere.status != 0 ">
            and a.status = #{feedWhere.status}
        </if>
        <if test="feedWhere.userId != 0">
            and a.user_id = #{feedWhere.userId}
        </if>
        <if test="feedWhere.subTimeBegin != null and feedWhere.subTimeBegin != '' ">
            and date(a.create_time) &gt;= str_to_date(#{feedWhere.subTimeBegin},'%Y-%m-%d')
        </if>
        <if test="feedWhere.subTimeEnd != null and feedWhere.subTimeEnd != '' ">
            and date(a.create_time) &lt;= str_to_date(#{feedWhere.subTimeEnd},'%Y-%m-%d')
        </if>

        order by a.status,a.id desc
        limit ${page.startRowNum}, ${page.size}
    </select>


    <select id="searchFeedbackInfoListCount" resultType="java.lang.Long">
        select
        count(1)
        from
        dc_user_feedback a
        left join dc_admin c on a.admin_id = c.id
        where 1 = 1
        <if test="feedWhere.phone != null and feedWhere.phone != '' ">
            and a.user_phone = #{feedWhere.phone}
        </if>
        <if test="feedWhere.status != 0 ">
            and a.status = #{feedWhere.status}
        </if>
        <if test="feedWhere.userId != 0">
            and a.user_id = #{feedWhere.userId}
        </if>
        <if test="feedWhere.subTimeBegin != null and feedWhere.subTimeBegin != '' ">
            and date(a.create_time) &gt;= str_to_date(#{feedWhere.subTimeBegin},'%Y-%m-%d')
        </if>
        <if test="feedWhere.subTimeEnd != null and feedWhere.subTimeEnd != '' ">
            and date(a.create_time) &lt;= str_to_date(#{feedWhere.subTimeEnd},'%Y-%m-%d')
        </if>
    </select>

</mapper>