<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.product.mapper.ProductShowConfigMapper">
  <resultMap id="BaseResultMap" type="com.gndc.product.model.ProductShowConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="show_module" jdbcType="TINYINT" property="showModule" />
    <result column="show_position" jdbcType="TINYINT" property="showPosition" />
    <result column="online_status" jdbcType="TINYINT" property="onlineStatus" />
    <result column="last_online_time" jdbcType="TIMESTAMP" property="lastOnlineTime" />
    <result column="last_offline_time" jdbcType="TIMESTAMP" property="lastOfflineTime" />
    <result column="fixed_position" jdbcType="TINYINT" property="fixedPosition" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="selectProductShowConfigPage" parameterType="com.gndc.product.api.admin.product.productshowconfig.AOProductShowConfigSearchRequest"
          resultType="com.gndc.product.dto.ProductShowConfigListDTO">
    SELECT
        product.name AS ProductName, partner.name AS PartnerName ,channel.app_name AS AppName,
        psc.show_module,product.settlement_mode,product.settlement_price,psc.online_status,
        psc.create_time,psc.last_online_time,psc.last_offline_time
     FROM
     dc_product_show_config psc INNER JOIN  dc_product product ON  psc.product_id=product.id
     INNER JOIN dc_partner partner ON product.partner_id=partner.id
     INNER JOIN dc_app_channel channel ON psc.channel_id =channel.id
     <where>
       <if test="productId!=null">
            and product.id=#{productId}
       </if>
       <if test="partnerId!=null">
            and partner.id=#{partnerId}
       </if>
       <if test="channelId!=null">
         and channel.id=#{productId}
       </if>
       <if test="showModule!=null">
         and psc.show_module=#{showModule}
       </if>
     </where>
  </select>

</mapper>