<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.common.mapper.PartnerApiMapper">
  <resultMap id="BaseResultMap" type="com.gndc.common.model.PartnerApi">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="api_url" jdbcType="VARCHAR" property="apiUrl" />
    <result column="api_type" jdbcType="TINYINT" property="apiType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
</mapper>