<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.product.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.gndc.common.model.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="product_id"  property="productId" />
    <result column="borrow_amount_min" jdbcType="DECIMAL" property="borrowAmountMin" />
    <result column="borrow_amount_max" jdbcType="DECIMAL" property="borrowAmountMax" />
    <result column="borrow_period_unit" jdbcType="BIT" property="borrowPeriodUnit" />
    <result column="borrow_period_start" jdbcType="INTEGER" property="borrowPeriodStart" />
    <result column="borrow_period_end" jdbcType="INTEGER" property="borrowPeriodEnd" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="rate_unit" jdbcType="BIT" property="rateUnit" />
    <result column="average_price" jdbcType="DECIMAL" property="averagePrice" />
    <result column="increment_quota" jdbcType="DECIMAL" property="incrementQuota" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="service_phone" jdbcType="VARCHAR" property="servicePhone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="repayment_method" jdbcType="TINYINT" property="repaymentMethod" />
    <result column="auto_audit" jdbcType="TINYINT" property="autoAudit" />
    <result column="settlement_mode" jdbcType="TINYINT" property="settlementMode" />
    <result column="settlement_price" jdbcType="DECIMAL" property="settlementPrice" />
    <result column="docking_mode" jdbcType="TINYINT" property="dockingMode" />
    <result column="android_url" jdbcType="VARCHAR" property="androidUrl" />
    <result column="ios_url" jdbcType="VARCHAR" property="iosUrl" />
    <result column="repayment_channel" jdbcType="VARCHAR" property="repaymentChannel" />
    <result column="offline_account" jdbcType="VARCHAR" property="offlineAccount" />
    <result column="offline_account_name" jdbcType="VARCHAR" property="offlineAccountName" />
    <result column="surport_change_card" jdbcType="BIT" property="surportChangeCard" />
    <result column="surport_prepayment" jdbcType="BIT" property="surportPrepayment" />
    <result column="surport_improve_amount" jdbcType="BIT" property="surportImproveAmount" />
    <result column="card_bind_type" jdbcType="BIT" property="cardBindType" />
    <result column="apply_again_time" jdbcType="INTEGER" property="applyAgainTime" />
    <result column="need_confirm_page" jdbcType="BIT" property="needConfirmPage" />
    <result column="fastest_loan_time" jdbcType="INTEGER" property="fastestLoanTime" />
    <result column="fastest_loan_unit" jdbcType="BIT" property="fastestLoanUnit" />
    <result column="surport_behead_rates" jdbcType="BIT" property="surportBeheadRates" />
    <result column="product_form" jdbcType="TINYINT" property="productForm" />
    <result column="service_charge" jdbcType="DECIMAL" property="serviceCharge" />
    <result column="risk_management_charge" jdbcType="DECIMAL" property="riskManagementCharge" />
    <result column="overdue_charge" jdbcType="DECIMAL" property="overdueCharge" />
    <result column="surport_extension" jdbcType="BIT" property="surportExtension" />
    <result column="apply_conditions" jdbcType="VARCHAR" property="applyConditions" />
    <result column="apply_process" jdbcType="VARCHAR" property="applyProcess" />
    <result column="repayment_instructions" jdbcType="VARCHAR" property="repaymentInstructions" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="product_status" jdbcType="TINYINT" property="productStatus" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="bank_ids"  property="bankIds" />
  </resultMap>

  <select id="selectProduct" parameterType="com.gndc.common.api.admin.product.AOProductSearchRequest"  resultType="com.gndc.common.dto.ProductListDTO">
    SELECT
        product.product_id,product.logo_url,product.name AS productName,
        product.loan_amount_min,product.loan_amount_max,
        product.loan_period_unit,product.loan_period_start,product.loan_period_end,
        partner.name AS partnerName,product.settlement_mode,product.settlement_price,product.create_time,
        product.product_status,product.last_online_time,product.last_offline_time
    FROM dc_product product INNER JOIN dc_partner partner ON product.partner_id=partner.id
    <where>
      <if test="productId!=null">
        product.id=#{productId}
      </if>
      <if test="productStatus!=null">
        and product.product_status=#{product_status}
      </if>
      <if test="partnerId!=null">
        and partner.id=#{partnerId}
      </if>
      <if test="startTime!=null">
        and product.create_time <![CDATA[ >=  ]]>  str_to_date( #{startTime}, '%Y-%m-%d %H:%I:%S');
      </if>
      <if test="endTime!=null">
        and product.create_time <![CDATA[ <   ]]> str_to_date( #{endTime}, '%Y-%m-%d %H:%I:%S');
      </if>
    </where>
  </select>

</mapper>