<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.common.mapper.SmsGroupLogMapper">
    <select id="selectSmsGroupLogDetailList" resultType="com.gndc.admin.api.admin.sms.AOSmsGroupLogListResponse">
        select dsgl.uid,dsgl.send_type sendType,dsgl.channel_id channelId,
        dss.`name` signName,dsgl.message,dsgl.phone_count phoneCount,dsgl.create_time createTime,dsgl.fail_num failNum,dsgl.success_num successNum
        from dc_sms_group_log dsgl
        left join dc_sms_sign dss on dsgl.sign_id = dss.id
        where 1 = 1
        <if test="options.signId">
            and dsgl.sign_id = #{options.signId}
        </if>
        <if test="options.createTimeStart != null and options.createTimeStart != ''">
            and dsgl.create_time <![CDATA[>=]]> #{options.createTimeStart}
        </if>
        <if test="options.createTimeEnd != null and options.createTimeEnd != ''">
            and dsgl.create_time <![CDATA[<=]]> #{options.createTimeEnd}
        </if>
        order by dsgl.create_time
    </select>
    <select id="groupLogStatisticsByDay" resultType="com.gndc.admin.api.admin.sms.AOSmsStatisticsResponse">
        select DATE_FORMAT(create_time,'%Y-%m-%d') time,sum(phone_count) countSend,sum(success_num) countSuccess,sum(fail_num) countFail
        from dc_sms_group_log
        where 1 = 1
        <if test="options.startDate != null and options.startDate != ''">
            and create_time <![CDATA[>=]]> #{options.startDate}
        </if>
        <if test="options.endDate != null and options.endDate != ''">
            and create_time <![CDATA[<=]]> #{options.endDate}
        </if>
        group by DATE_FORMAT(create_time,'%Y-%m-%d')
    </select>
    <select id="groupLogStatisticsByMonth" resultType="com.gndc.admin.api.admin.sms.AOSmsStatisticsResponse">
        select DATE_FORMAT(create_time,'%Y-%m') time,sum(phone_count) countSend,sum(success_num) countSuccess,sum(fail_num) countFail
        from dc_sms_group_log
        where 1 = 1
        <if test="options.startDate != null and options.startDate != ''">
            and create_time <![CDATA[>=]]> #{options.startDate}
        </if>
        <if test="options.endDate != null and options.endDate != ''">
            and create_time <![CDATA[<=]]> #{options.endDate}
        </if>
        group by DATE_FORMAT(create_time,'%Y-%m')
    </select>
</mapper>