<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.common.mapper.SmsJobConditionMapper">
  <resultMap id="BaseResultMap" type="com.gndc.common.model.SmsJobCondition">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="condition_id" jdbcType="INTEGER" property="conditionId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="sign_ids" jdbcType="VARCHAR" property="signIds" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="operator_ids" jdbcType="VARCHAR" property="operatorIds" />
    <result column="create_admin_id" jdbcType="INTEGER" property="createAdminId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="phones" jdbcType="LONGVARCHAR" property="phones" />
  </resultMap>
</mapper>