<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.common.mapper.SystemScheduleJobMapper">
  <select id="selectSmsJobDetailList" resultType="com.gndc.admin.api.admin.sms.AOSmsScheduleListResponse">
    select ssj.id jobId, DATE_FORMAT(ssj.create_time,'%Y-%m-%d %H:%m:%s') createTime,sjc.sign_ids signIds,sc.type, st.content,sc.condition,
    ssj.cron_expression expression,ssj.job_status jobStatus,sjc.channel_id channelId
    FROM dc_system_schedule_job ssj
    left join dc_sms_job_condition sjc on ssj.extend_id = sjc.id
    left join dc_sms_condition sc on sc.id = sjc.condition_id
    left join dc_sms_template st on sjc.template_id = st.id
    where 1=1
    <if test="options.type">
      and sc.type = #{options.type}
    </if>
    <if test="options.createTimeStart != null and options.createTimeStart != ''">
      and ssj.create_time <![CDATA[>=]]> #{options.createTimeStart}
    </if>
    <if test="options.createTimeEnd != null and options.createTimeEnd != ''">
      and ssj.create_time <![CDATA[<=]]> #{options.createTimeEnd}
    </if>
    order by ssj.create_time
  </select>
</mapper>