<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gndc.common.mapper.UserMapper">
    <update id="updatePassword" parameterType="com.gndc.common.model.User">
        update dc_user
            set
            password = #{password},
            password_sign = #{passwordSign}
            where id = #{id}
    </update>

    <select id="selectUserEventsDetail" resultType="com.gndc.admin.api.admin.user.AOUserDetailResponse">
        select due.create_time eventTime,due.event_type eventType,dp.name
        from dc_user_events due
        left join dc_product dp on due.product_id = dp.id
        where event_type in (1,2,8)
        <if test="query.eventDateBegin != null and query.eventDateBegin != ''
                    and query.eventDateEnd != null and query.eventDateEnd != ''">
            and create_time <![CDATA[>=]]> #{query.eventDateBegin}
            and create_time <![CDATA[<=]]> #{query.eventDateEnd}
        </if>
        <if test="query.eventDateBegin != null and query.eventDateBegin != ''
                    and (query.eventDateEnd == null or query.eventDateEnd == '')">
            and create_time <![CDATA[>=]]> #{query.eventDateBegin}
        </if>
        <if test="(query.eventDateBegin == null or query.eventDateBegin == '')
                    and query.eventDateEnd != null and query.eventDateEnd != ''">
            and create_time <![CDATA[<=]]> #{query.eventDateEnd}
        </if>
        <if test="query.userId != null and query.userId != ''">
            and due.user_id = #{query.userId}
        </if>
    </select>
</mapper>